doctype html
html
  head
    title='Add enigma'
  body
    form(action='/quizzes/countries', method='post')
      input(type='text' name='name' placeholder='name')
      input(type='submit' value='Add')
