doctype html
html
  head
    title='Add place'
    style
      include ../../static/css/base.css
      include ./add.css
  body
    form(action='/quizzes/api/places/add' method='post' enctype='multipart/form-data')
      input(type='text' name='place_name' placeholder='Place name').input
      input(type='text' name='place_country' placeholder='Place country').input
      input(type='text' name='place_href' placeholder='Place href').input
      .input_block
        input(type='text' name='place_lat' placeholder='Place lat')
        input(type='text' name='place_lng' placeholder='Place lng')#place_lng
      input(type='file' name='image').input
      input(type='text' name='image_source' placeholder='Image source').input
      .input_block
        input(type='text' name='image_author_name' placeholder='Image author name')
        input(type='text' name='image_author_href' placeholder='Image author href')#image_author_href
      .input_block
        input(type='text' name='image_license_name' placeholder='Image license name')
        input(type='text' name='image_license_href' placeholder='Image license href')#image_license_href
      input(type='submit' value='Add').input
