doctype html
html
  head
    title='Login'
  body
    form(action='/quizzes/users/login' method='post')
      input(type='text' placeholder='username' name='username')
      input(type='password' placeholder='password' name='password')
      input(type='submit' value='Login')
